<h1>Listing sample_images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_images.each do |sample_image| %>
      <tr>
        <td><%= sample_image.name %></td>
        <td><%= link_to 'Show', sample_image %></td>
        <td><%= link_to 'Edit', edit_sample_image_path(sample_image) %></td>
        <td><%= link_to 'Destroy', sample_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample image', new_sample_image_path %>
